<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">User Profile</title>
</head>
<body>
<section>
    <main class="main">

        <!-- Page Title -->
        <div class="page-title light-background">
            <div class="container d-lg-flex justify-content-between align-items-center">
                <h1 class="mb-2 mb-lg-0">Account</h1>
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="index.html">Home</a></li>
                        <li class="current">Account</li>
                    </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->

        <!-- Account Section -->
        <section id="account" class="account section">

            <div class="container">

                <!-- Mobile Menu Toggle -->
                <div class="mobile-menu d-lg-none mb-4">
                    <button class="mobile-menu-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#profileMenu">
                        <i class="bi bi-grid"></i>
                        <span>Menu</span>
                    </button>
                </div>

                <div class="row g-4">
                    <!-- Profile Menu -->
                    <div class="col-lg-3">
                        <div th:replace="user/fragments/sidebar :: sidebar"></div>
                    </div>

                    <!-- Content Area -->
                    <div class="col-lg-9">
                        <div class="content-area">
                            <div class="tab-content">
                                <!-- Orders Tab -->
                                <div class="tab-pane fade show active" id="orders">
                                    <div class="section-header">
                                        <h2>User Profile</h2>
                                    </div>

                                    <div th:if="${session.userProfileMessage}" class="container">
                                        <div th:classappend="' text-' + ${session.userProfileMessage.type}"
                                             class="alert text-center" role="alert">
                                            <p th:text="${session.userProfileMessage.content}"></p>
                                        </div>
                                        <th:block th:text="${@sessionHelperImpl.removeSessionAttribute('userProfileMessage')}"></th:block>
                                    </div>

                                    <div class="orders-grid">
                                        <form id="profileForm" th:object="${User}" method="post" enctype="multipart/form-data" class="row g-3">

                                            <input type="hidden" th:field="*{id}" />

                                            <div class="col-12">
                                                <label for="username" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="username" th:field="*{username}" required readonly>
                                            </div>

                                            <div class="col-md-6">
                                                <label for="email" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="email" th:field="*{email}" required readonly>
                                            </div>

                                            <div class="col-md-6">
                                                <label for="mobileNumber" class="form-label">Mobile No.</label>
                                                <input type="text" class="form-control" id="mobileNumber" th:field="*{mobileNumber}" required readonly>
                                            </div>

                                            <div class="col-12">
                                                <label for="address" class="form-label">Address</label>
                                                <input type="text" class="form-control" id="address" th:field="*{address}" readonly>
                                            </div>

                                            <div class="col-md-6">
                                                <label for="country" class="form-label">Country</label>
                                                <input type="text" class="form-control" id="country" name="country" th:field="*{city}" readonly>
                                            </div>

                                            <div class="col-md-6">
                                                <label for="state" class="form-label">State</label>
                                                <input type="text" class="form-control" id="state" name="state" th:field="*{state}" readonly>
                                            </div>

                                            <div class="col-md-6">
                                                <label for="city" class="form-label">City</label>
                                                <input type="text" class="form-control" id="city" name="city" th:field="*{city}" readonly>
                                            </div>

                                            <div class="col-md-6">
                                                <label for="pincode" class="form-label">Zip</label>
                                                <input type="text" class="form-control" id="pincode" th:field="*{pincode}" readonly>
                                            </div>

                                            <div class="col-md-6">
                                                <label class="form-label" for="file">Profile Image</label>
                                                <input type="file" class="form-control" accept="image/*"
                                                       id="file" name="file" />
                                            </div>

                                            <!-- Show Current Image -->
                                            <div class="mb-3">
                                                <img th:src="@{'/img/profile_img/' + ${User.profileImage}}" width="100" height="100"
                                                     class="rounded-circle" />
                                            </div>

<!--                                            <div class="col-12">-->
<!--                                                <button type="button" class="btn btn-primary rounded-pill" onclick="updateProfileAjax(this)">-->
<!--                                                    Update-->
<!--                                                </button>-->
<!--                                            </div>-->
                                        </form>

                                    </div>


                                </div>



                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section><!-- /Account Section -->

    </main>



</section>
</body>
</html>